@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'FiraCode_Regular';
    src: url('./assets/fonts/FiraCode-Regular.woff2') format('woff2'),
        url('./assets/fonts/FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ol,
ul {
    /* list-style: none; */
}

img {
    height: auto;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff25;
}

::-webkit-scrollbar-thumb {
    background: #ffffff50;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff25;
}